<div class="container">
    <div class="row">
        <h2 class="text-center">Plan je rit hier!</h2>
    </div>
    <div class="row">
        <form [formGroup]="plannerForm" (ngSubmit)="onSubmit()">
        
            <div class="input">
                <label>Waar vertrek je vandaan?</label>
                <input type="text" formControlName="start" />
            </div>
            <div class="input">
                <label>Waar wil je naartoe?</label>
                <input type="text" formControlName="end" />
            </div>
            <div class="input">
                <label>Hoe laat wil je gaan?</label>
                <input type="time" formControlName="time" />
            </div>
            <div class="input">
                <label>Welke auto zou je willen?</label>
                <select formControlName="car">
                    <option *ngFor="let car of cars">
                        {{car.brand}} {{car.class}}
                    </option>
                </select>
            </div>
            <button class="btn btn-success" type="submit" >Opslaan</button>
        </form>
    </div>
    <div class="row">
        {{text}}
    </div>
</div>